{% extends "main/base.html" %}


{% block title %}
<title>
    album
</title>
{% endblock %}

{% block body %}
<div class="album py-5">
        <h3 class="text-muted text-center">
            ГАЛЕРЕЯ
        </h3>

        <br>

        <div class="container">

              <div class="row ">
{% if all %}
  {% for i in all %}

                    <div class="col-md-4  ">
                        <div class="card mb-4 box-shadow darkback">
                              <a class="" href="{% url 'albumphoto' i.id %}">
                                <img class="card-img-top active-block"   style="height: 225px; width: 100%; display: block;"
                                     src="{{ i.image.url }}">
                              </a>

                              <div class="card-body">
                                  <div class="d-flex justify-content-between align-items-center darkback">
                                        <div class="btn-group">
                                        <a href="{% url 'albumphoto' i.id %}">
                                            <button type="button" class="btn btn-sm btn-outline-secondary">
                                              View
                                        </button></a>
                                            <small class="text-muted">{{ i.pub_date}}</small>
                                            <small class="text-muted">{{ i.author}}</small>
                                        </div>
                                  </div>
                              </div>
                        </div>
                    </div>

  {% endfor %}
{% endif %}
            </div>

    </div>
    <nav class="container text-center">
        <div class="">
            <span class="">
                {% if all.has_previous %}
                    <a href="{% url 'album/list' 1 %}">&laquo; first</a>
                    <a href="{% url 'album/list' all.previous_page_number %}">previous</a>
                {% endif %}

                <span class="">
                    Page {{ all.number }} of {{ all.paginator.num_pages }}.
                </span>

                {% if all.has_next %}
                    <a href="{% url 'album/list' all.next_page_number %}">next</a>
                    <a href="{% url 'album/list'  all.paginator.num_pages %}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </nav>


</div>
{% endblock %}